<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav"></div>
        <div class="col-sm-8 text-left">
            <h1>Hi <%= user.displayName %>, welcome to dashboard</h1>
            <p>
                Dashboard page
            </p>
        </div>
        <div class="col-sm-2 sidenav"></div>
    </div>
</div>
