<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Premier Food Safety</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <% if (isAuth) { %>
                    <li><a href="/dashboard">Dashboard</a></li>
                <% } %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if (!isAuth) { %>
                    <li>
                        <a href="login"><span class="glyphicon glyphicon-log-in"></span> Login with SSO</a>
                    </li>
                <% } else { %>
                    <li>
                        <a href="/logout"
                           onclick="event.preventDefault();
                        document.getElementById('logout-form').submit();"
                        >
                            <span class="glyphicon glyphicon-log-in"></span>
                            Logout
                        </a>
                    </li>

                    <form id="logout-form" action="/logout" method="POST"></form>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
